@{
    ViewBag.Title = "About";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/32d24977ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

}


<div class="container-fluid" style="margin-bottom: 40px">
    <div class="row" style="background-color: #3b161e">
        <h2 align="center" style="color:white;"><b>DANH MỤC CÀ PHÊ</b></h2>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <i class="fa-duotone fa-tree-deciduous"></i>
            <h3 style="font-family:Calibri">CÀ PHÊ ARABICA</h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Cà phê Arabica được sản xuất ở Hawaii, đặc biệt là trên đảo Hawaii (Big Island), và được biết đến với hương vị ngọt ngào và đầy đặn.</p>
            <img src="~/Content/images/img1.jpg" width="320" height="250" />
        </div>
        <div class="col-lg-4">
            <i class="fa-duotone fa-tree-deciduous"></i>
            <h3 style="font-family:Calibri">CÀ PHÊ BOURBON</h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Cà phê Bourbon có hương vị mềm mại và thường có hương thơm của trái cây đỏ và cam </p>
            <br />
            <img src="~/Content/images/img2.jpg" width="320" height="250" />
        </div>
        <div class="col-lg-4">
            <i class="fa-duotone fa-tree-deciduous"></i>
            <h3 style="font-family:Calibri">CÀ PHÊ TYPICA</h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Cà phê Typica thường có hương vị mềm mại và hương thơm của cam và cam quýt .</p>
            <br />
            <img src="~/Content/images/img3.jpg" width="320" height="250" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <i class="fa-duotone fa-tree-deciduous"></i>
            <h3 style="font-family:Calibri">CÀ PHÊ ROBUSTA</h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Cà phê Robusta này được trồng ở Colombia và thường có hương vị mềm mại, cân bằng, và có độ acid cao </p>
            <img src="~/Content/images/img4.jpg" width="320" height="250" />
        </div>
        <div class="col-lg-4">
            <i class="fa-duotone fa-tree-deciduous"></i>
            <h3 style="font-family:Calibri">CÀ PHÊ CULI</h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Cà phê Culi thường được sử dụng trong cà phê espresso để tạo ra lớp bọt mousse đặc biệt và hương vị mạnh mẽ</p>
            <img src="~/Content/images/img5.jpg" width="320" height="250" />
        </div>
        <div class="col-lg-4">
            <i class="fa-duotone fa-tree-deciduous"></i>
            <h3 style="font-family:Calibri">CÀ PHÊ CHERRY</h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Cà phê Cherry từ Cameroon thường có hương vị mạnh và độ đắng, thường được sử dụng để tạo ra cà phê espresso.</p>
            <img src="~/Content/images/img6.jpg" width="320" height="250" />

        </div>
        <br />
    </div>
</div>
