<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class=" owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Nike New <br>Collection!</h1>
                                <p>Bộ sưu tập giày đỉnh cao của thời trang và sự thoải mái!</p>
                                <!-- <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="assets/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-area section_gap ">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Miễn phí vận chuyển</h6>
                    <p>Miễn phí vận chuyển với mọi đơn hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Chính sách đổi trả</h6>
                    <p>Có thể đổi trả trong 3 ngày</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ 24/7 </h6>
                    <p>Tận tình và chu đáo</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="assets/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh toán an toàn</h6>
                    <p>Uy tín</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Danh mục sản phẩm</div>
                <ul class="main-categories">
                    <li class="main-nav-list child">
                        <a style="cursor: pointer;" (click)="selectCategory(null)">Tất cả sản phẩm</a>
                    </li>
                    <div *ngFor="let item of categories">
                        <li class="main-nav-list child"><a style="cursor: pointer;"
                                (click)="selectCategory(item.name)">{{item.name}}</a>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- Chọn màu sắc -->
            <div class="sidebar-filter mt-50">
                <div class="common-filter">
                    <div class="head">Màu sắc</div>
                    <form>
                        <ul>
                            <li class="filter-list" *ngFor="let color of uniqueColors">
                                <input class="pixel-radio" type="radio" id="{{ color }}-color" name="color"
                                    (click)="selectCategoryAndColor(selectedCategory, color)"
                                    [checked]="selectedCategory === selectedCategory && selectedColor === color">
                                <label for="{{ color }}-color">{{ color }} <span>({{ getProductCountByColor(color)
                                        }})</span></label>
                            </li>
                        </ul>
                    </form>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light mt-2 btn-sm " (click)="clearSelectedColor()">Bỏ
                            chọn màu sắc</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting row">
                    <button class="btn btn-light mx-3" (click)="onSortTypeChange('ascending')">
                        Giá tăng dần <i class="fas fa-arrow-up"></i>
                    </button>
                    <button class="btn btn-light" (click)="onSortTypeChange('descending')">
                        Giá giảm dần <i class="fas fa-arrow-down"></i>
                    </button>

                </div>

                <div class="sorting mr-auto">
                    <div class="input-group">
                        <form action="" method="post" class="form-inline" [formGroup]="searchForm"
                            (ngSubmit)="onSearch()">
                            <input formControlName="name" type="text" class="form-control" placeholder="Tìm kiếm"
                                aria-describedby="button-addon2">
                            <button type="submit" class="btn btn-secondary" type="button" id="button-addon2"><span
                                    class="lnr lnr-magnifier" id="search"></span></button>
                        </form>
                    </div>
                </div>
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="pagination">
                        <a class="prev-arrow" (click)="canGoToPreviousPage() && onPageChange(currentPage - 1)">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        </a>
                        <a *ngFor="let page of getPages()" [class.active]="page === currentPage"
                            (click)="onPageChange(page)">
                            {{ page }}
                        </a>
                        <a class="next-arrow" (click)="canGoToNextPage() && onPageChange(currentPage + 1)">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">

                <div class="row">
                    <!-- single product ---------------------------------------------------------------------------->
                    <div class="col-lg-4 col-md-6" *ngFor="let pro of products| slice:startIndex:endIndex">
                        <div class="single-product">
                            <img class="img-fluid hinhanh" src="{{pro.image}}" alt="">
                            <div class="product-details">
                                <h6
                                    style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                    {{ pro.name }}</h6>
                                <div class="price">
                                    <h6>{{ pro.price | currency:"VND" }}</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a (click)="addToCart(pro.name,pro.id,pro.price,pro.image)" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a [routerLink]="['detail', pro.id]" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">

                </div>
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="pagination">
                        <a class="prev-arrow" (click)="canGoToPreviousPage() && onPageChange(currentPage - 1)">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        </a>
                        <a *ngFor="let page of getPages()" [class.active]="page === currentPage"
                            (click)="onPageChange(page)">
                            {{ page }}
                        </a>
                        <a class="next-arrow" (click)="canGoToNextPage() && onPageChange(currentPage + 1)">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>