<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">

                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link" routerLinkActive="active" href="http://localhost:4200/home">Về trang chủ</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link">Đăng xuất</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="assets/img/logo.png" />
            </a>

            <!-- Sidebar -->
            <ng-container>
                <div class="sidebar">


                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="quanlysanpham">
                                    <p style="color: white">
                                        <span></span> Quản lý sản phẩm
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="quanlydanhmuc">
                                    <p style="color: white">
                                        <span></span> Quản lý Danh mục
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="/admin/quanlydonhang">
                                    <p style="color: white">
                                        <span></span> Quản lý đơn hàng
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="/admin/quanlytaikhoan">
                                    <p style="color: white">
                                        <span></span> Quản lý tài khoản
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </ng-container>
        </aside>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline-block">
            </div>
        </footer>
    </div>
</body>

</html>