<div class="d-flex justify-content-end mb-3"><a class="btn btn-success mx-2" (click)="openAddProductPopup()"
        style="color: white">Thêm sản phẩm</a>
</div>

<table class="table table-bordered table-striped" style="width: 100;">

    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng còn</th>
            <th>OPTIONS </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            <td width="5%">{{ item.id }}</td>
            <td width="70%">{{ item.name }}</td>
            <td width="15%">{{ item.quantity}}</td>

            <td class="btn-group" role="group">
                <a class="btn btn-primary mx-2" (click)="openProductDetailPopup(item)" style="color: white">
                    Xem Chi tiết
                </a>
                <a class="btn btn-danger mx-2" (click)="delete(item.id)" style="color: white">
                    Xóa
                </a>
            </td>
        </tr>
    </tbody>
</table>